.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  list-style-type: none;
}

.portfolio-filter-list > li + li {
  margin-left: 8px;
}

.portfolio-btn {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--address-dark-theme-color);
  cursor: pointer;
}

.portfolio-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-card-container > li {
  margin-right: 30px;
  margin-bottom: 30px;
  list-style: none;
}

.portfolio-card-container > li:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-card-container > li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-card {
  position: relative;
  margin: 0;
  width: 370px;
  background: #ffffff;
  overflow: hidden;
}

.portfolio-card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-list {
  position: relative;
}

.portfolio-card > figcaption {
  width: 370px;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-title {
  font-family: var(--main-font);
  text-decoration: none;
  font-style: normal;
  margin: 0px;
  margin-bottom: 4px;
  color: var(--logo-two-ligt-theme-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  margin: 0px;
  color: var(--subtitle-theme-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.portfolio-text > a {
  margin: 0px;
  color: var(--subtitle-theme-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms var(--cubic);
  transition: 250ms var(--cubic);
  overflow: hidden;
  opacity: 0;
}

.portfolio-overlay > p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-card:hover .portfolio-overlay {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
/*# sourceMappingURL=portrfolio.css.map */