.container-hero {
  background-color: #2f303a;
  padding-bottom: 94px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
  height: 600px;
  text-align: center;
  &-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.366;
    // @include title-font(900, 44px, 60px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--address-dark-theme-color);
    margin-top: 0px;
    padding-bottom: 30px;
    padding-top: 200px;
  }
}
