.advantages {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;

  &-list {
    display: flex;
  }
  &-title {
    font-family: $main-font;
    @include title-font(700, 14px, 16px);
    font-style: normal;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-theme-color;
    padding-bottom: 10px;
  }
  &-desc {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $subtitle-theme-color;
    margin-right: 30px;
    min-width: 270px;
  }
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.icon {
  width: 70px;
  height: 70px;

  &-area {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }
}
