.client {
  padding-top: 127px;
  padding-bottom: 94px;

  &-item {
    display: flex;
  }
  &-title {
    padding-bottom: 50px;
  }
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    color: var(--icons-color);
    border: 1px solid var(--icons-color);
    border-radius: 4px;
  }
  &-item-list:not(:last-child) {
    margin-right: 30px;
  }
  &-link:hover,
  &-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.icon-client {
  fill: currentColor;
}
