.work {
  &-title {
    padding-bottom: 50px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 94px;
    &-item {
      position: relative;
      width: 370px;
      height: 294px;
    }
  }
  &-img:not(:last-child) {
    margin-right: 30px;
  }
  &-text {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    > p {
      font-family: $main-font;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;

      letter-spacing: 0.03em;
      text-transform: uppercase;

      color: $address-dark-theme-color;

      padding: 27px 82px;
    }
  }
}
