:root {
  $mainfont: "Roboto", sans-serif;
  $secondary-font: "Releway", sans-serif;

  $title-theme-color: #212121;
  $subtitle-theme-color: #757575;
  $address-light-theme-color: #757575;
  $address-dark-theme-color: #ffffff;
  $accent-color: #2196f3;
  $logo-two-footer-color: #ffffff;
  $logo-two-ligt-theme-color: #000000;
  $logo-one-color: #2196f3;
  $icons-color: #afb1b8;
  $cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
